[Unit]
Description="flask-app"
After=network.target

[Service]
User=
Environment='FLASK_APP=PATH_TO/main.py'
ExecStart=/usr/local/bin/python3 -m flask run --host=0.0.0.0
Restart=always

[Install]
WantedBy=multi-user.target