[Unit]
Description=Blink my LED
After=multi-user.target

[Service]
ExecStart=/usr/local/bin/python3 /home/pi/Documents/projects/NeoFlask/socketio_server.py

[Install]
WantedBy=multi-user.target
