[Unit]
Description=Blink my LED
After=multi-user.target

[Service]
ExecStart=/usr/local/bin/python3 PATH_TO/socketio_server.py

[Install]
WantedBy=multi-user.target
