{% extends "bootstrap/base.html" %}

{% block title %}My Neo{% endblock %}

{% block content %}
<style>
  .slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 75%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
  </style>
&nbsp;
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6"><button onclick="turnOn(this)"type="button" class="btn btn-success" style="width: 100%">Let there be light</button></div>
    <div class="col-xs-6 col-sm-6 col-md-6"><button onclick="turnOff(this)" type="button" class="btn btn-secondary" style="width: 100%">Darkness 🌙</button></div>
  </div>
  &nbsp;
  <div class="container">
    <div class="row">
      <div class="btn col-xs-4 col-sm-4 col-md-4" style="background-color:#FFFFFF; border-color: #2196F3;" onclick="switchColor(this, 0, 0, 0, 255)" type="button">bright white</div>
      <div class="btn col-xs-4 col-sm-4 col-md-4" style="background-color:#FF8C00;" onclick="switchColor(this, 255, 50, 0, 0)" type="button">Fresh</div>
      <div class="btn col-xs-4 col-sm-4 col-md-4" style="background-color:#FF69B4;" onclick="switchColor(this, 255, 20, 147, 0)" type="button">¯\_(ツ)_/¯.</div>
    </div>
    <div class="row">
        <div class="btn col-xs-4 col-sm-4 col-md-4" style="background-color:#008000;" onclick="switchColor(this, 0, 255, 0, 0)" type="button">mojito</div>
        <div class="btn col-xs-4 col-sm-4 col-md-4" style="background-color:#0000ff; color: beige;" onclick="switchColor(this, 0, 0, 255, 0)"  type="button">blues</div>
        <div class="btn col-xs-4 col-sm-4 col-md-4" style="background-color:#ff0000;"  onclick="switchColor(this, 255, 0, 0, 0)" type="button">SOS</div>
    </div>
    <div class="row">
        <div class="btn col-xs-4 col-sm-6 col-md-4" style="background-color:#ecff00;" onclick="switchColor(this, 255, 140, 0, 0)" type="button">amarilla</div>
        <div class="btn col-xs-4 col-sm-6 col-md-4" style="background-color:#752375; color: beige;" onclick="switchColor(this, 75, 0, 130, 0)" type="button">hungry</div>
        <div class="btn col-xs-4 col-sm-6 col-md-4" style="background-color:#00bbbb;"  onclick="switchColor(this, 0, 187, 187, 0)" type="button">dream blue</div>
    </div>
</div>
&nbsp;
<div class="container">
  <div class="slidecontainer">
    <input type="range" min="1" max="100" value="30" class="slider" id="myRange">
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(){
    let brightness = '{{ brightness }}'; 
	  document.getElementById("myRange").value = brightness;
  });
  
  var slider = document.getElementById("myRange");
  slider.oninput = function() {
    fetch('/brightness?b=' + this.value);
  }
  function switchColor(elmnt, red, green, blue, white) {
    fetch(`/switch?r=${red}&g=${green}&b=${blue}&w=${white}`);
  }
  function turnOn() {
    fetch(`/turn_on`);
  }
  function turnOff() {
    fetch(`/turn_off`);
  }
  </script>
{% endblock %}