{% extends "bootstrap/base.html" %}

{% block title %}My Neo{% endblock %}

{% block content %}
&nbsp;
  <div class="row">
    {{ if }}
    {% if status == 'on'%}
    <div class="col-xs-6 col-sm-6 col-md-6"><button onclick="location.href = '/start';" type="button" class="btn btn-success disabled" style="width: 100%">ON</button></div>
    <div class="col-xs-6 col-sm-6 col-md-6"><button onclick="location.href = '/stop';" type="button" class="btn btn-danger" style="width: 100%">OFF</button></div>
    {% else %}
    <div class="col-xs-6 col-sm-6 col-md-6"><button onclick="location.href = '/start';" type="button" class="btn btn-success" style="width: 100%">ON</button></div>
    <div class="col-xs-6 col-sm-6 col-md-6"><button onclick="location.href = '/strp';" type="button" class="btn btn-danger disabled" style="width: 100%">OFF</button></div>
    {% endif %}
  </div>
{% endblock %}